html {
	background-color: rgb(41, 41, 41);
}

.scungus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.words {
	font-size: 200px;
	font-family: Arial;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}
